/* Created by: MariaG
* Created on: April 1, 2022
* This CSS file defines the style for index.html
* ICS2O-Assign-02-HTML-Calculations
*/

img {
  width: 60%;
}

#grey {
  width: 80%;
  margin-left: 10%;
  background-color: #e6e7e7;
  padding: 20px;
  margin-top: 30px;
}

#blue {
  width: 80%;
  margin-left: 10%;
  background-color: #c4f3fc;
  padding: 20px;
  margin-top: 30px;
}

#yellow {
  width: 80%;
  margin-left: 10%;
  background-color: #fefac1;
  padding: 20px;
  margin-top: 30px;
}

h3 {
  text-align: center;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

form {
  margin-left: 10%;
  margin-right: 10%;
}

h4 {
  margin-left: 10%;
  margin-right: 10%;
}

#results {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  color: #19609d;
}

button {
  width: 30%;
  color: white;
  border: none;
  padding: 10px;
}

#red {
  background-color: #fe7874;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
}
